.appbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.app-title{
    text-shadow: 1px 1px 2px black;
}
.making-easier-color {
    color: rgb(238, 203, 49);
    text-shadow: 1px 1px 2px black;
}

.navigation-items-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1px;
    list-style: none;
}

.navigation-item {
    padding: 10px;
    text-align: center;
    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
}
.navigation-item a { text-decoration: none; color: black;}
.navigation-item a:hover { color:#fff }
.navigation-item:hover {
    background-color: #858585;
}

.selected {
    background-color: #858585;
    color: #fff;
}
  
.navigation-item.selected a{
    color: #fff; 
}