/* You can add global styles to this file, and also import other style files */


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header,footer,section {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 2%;
}